.logo {
  width: 385px;
  height: auto;
}

@media all and (max-width: 375px) {
  .logo {
    width: 85%;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: #ccc;
  color: #2e3436;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0.5rem;
}

.button {
  height: 44px;
  border: none;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.input:focus {
  outline: 2px solid #e86c8d;
  box-shadow: 0 0 2px #e86c8d;
}

[name="email"] {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

[type="submit"] {
  width: 25%;
  height: 46px;
  background: #aa0f0a;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

[type="submit"]:hover {
  background: #d45d7d;
}